/* Default styles for larger screens */
.create-trip {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hotel-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}

.hotel {
    background-color: #f1f1f1;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hotel:hover {
    background-color: #ddd;
}

.selected-hotel {
    margin-top: 20px;
}

.options {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

button {
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ddd;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
    .create-trip {
        margin: 10px;
    }

    .hotel-list {
        margin-left: 130px;
        display: flex;
        flex-wrap: wrap;
        gap: 0;
        align-items: center;
    }

    .hotel {
        padding: 0;
    }
    
    .create-trip h2{
        margin-left: 100px;
        margin-bottom: 30px;
    }
}
