/* Search container styles */
.Search-container {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  color: #ffffff;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Search bar styles */
.search-bar {
  width: 100%;
  max-width: 700px;
  height: 70px;
  background: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  border-radius: 60px;
  border-color: #a2c3e7;
  padding: 10px;
  border: 1px solid rgba(105, 105, 105, 0.8);
}

.search-bar input {
  background: transparent;
  flex: 1;
  border: 0;
  padding: 24px 20px;
  font-size: 20px;
  color: #ffffffcc;
  background-color: #000000;
  margin: 10px;
}

::placeholder {
  color: rgb(255, 255, 255);
}

.search-bar button {
  border: 0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
  .search-bar {
    width: 300px;
    height: 50px;
    margin-left: 40px;
  }

  .search-bar input {
    padding: 16px 14px;
    font-size: 16px;
  }
  
  .search-bar button {
    width: 40px;
    height: 40px;
  }
  
  /* Adjust other styles as needed for smaller screens */
}
