.login .form-control {
    display: flex;
    flex-direction: column;
  }
  
  .login .form-control a {
    color: #0088ff;
  }
  
  .login .form-control input {
    margin: 5px 0;
    padding: 12px;
    border: none;
    border-radius: 10px;
    width: 80vw;
    font-family: inherit;
    font-weight: 700;
    letter-spacing: 2px;
  }

  .login .form-control ::placeholder {
    color : #000;
  }
  
  .login .form-control button {
    background-color: #a2c3e7;
    padding: 8px;
    border: 2px solid #2c7f86;
    color: #fff;
    font-family: inherit;
    border-radius: 10px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 5px;
    cursor: pointer;
    transition: background-color 0.4s;
  }
  
  .login .form-control button:hover {
    background-color: #273039;
  }

  .login {
    /* background: url('https://images.pexels.com/photos/46148/aircraft-jet-landing-cloud-46148.jpeg?auto=compress&cs=tinysrgb&h=650&w=940') */
    background: url('../assests/bgimg.jpg')
      no-repeat center/cover;
    height: 775px;
    z-index: 10000;
  }
  
  .login .login-overlay {
    /* background-color: rgba(0, 0, 0, 0.4); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    color: #fff;
  }
  
  .login .login-overlay h1 {
    font-size: 36px;
    padding-bottom: 20px;
  }


  /* Add this new style for the welcome message */
.login .form-control .welcome-message {
  font-size: 24px;
  color: #0088ff;
  margin-top: 20px;
  animation: fadeOut 1s ease-out 2s forwards; /* 2s delay before starting the fade-out */
}

/* Add a fade-out animation for the welcome message */
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

  @media (max-width: 768px) {
    .login .form-control input {
        width: 100%;
    }
}