/* Review.css */
.review-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

.review-form textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
}

.rating-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.rating-container p {
  margin-right: 10px;
}

.rating-container span {
  cursor: pointer;
  font-size: 24px;
  color: #888;
}

.rating-container span.active {
  color: #000;
}

.submit-button {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.review-list ul {
  list-style: none;
  padding: 0;
}

.review-list li {
  margin-bottom: 15px;
}

.rating-stars {
  display: flex;
  margin-top: 5px;
}

.rating-stars span {
  font-size: 18px;
  color: #888;
  margin-right: 5px;
}

.rating-stars span.active {
  color: #000;
}

@media screen and (max-width: 768px) {
    .review-container {
      margin-left: 50px;
      width: 75%;
    }

    .rating-container p {
        margin-right: 0;
        margin-bottom: 5px;
    }

    .rating-container span {
        margin-bottom: 5px;
    }
}