div.scrollmenu {
  position: relative;
  left: 15%;
  width: 75%;
  /* background-color: #c4c4c4; */
  overflow-x: auto;
  /* /Addscrollbarforhorizontaloverflow/ */
  white-space: nowrap;
  padding: 50px;
  margin-bottom: 50px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgb(0, 0, 0);
  /*border-top: 0.5px solid rgb(52, 52, 52);
  border-bottom: 0.5px solid rgb(52, 52, 52);
  */;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

div.scrollmenu h1 {
  margin: 10px;
  font-weight: bolder;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes restart {
  to {
    transform: translateX(0);
  }
}

div.scrollmenu::-webkit-scrollbar {
  width: 12px; /* Set the width of the scrollbar */
}

div.scrollmenu::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
  border-radius: 6px; /* Round corners of the scrollbar thumb */
}

div.scrollmenu::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color of the scrollbar track */
}

div.scrollmenu a img {
  width: 200px;
  height: 230px;
  position: relative;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

div.scrollmenu a img:hover {
  /* opacity: 0.5; */
  background-color: #c4c4c4;
}

div.scrollmenu a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  position: relative;
}

div.scrollmenu a h6 {
  position: absolute;
  width: 60px;
  top: 60%;
  left: 20%;
  transform: translate(-50%, -50%);
  margin: 0;
  background-color: #fff;
  font-size: 1.2rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

div.scrollmenu a h7 {
  position: absolute;
  width: 60px;
  top: 70%;
  left: 20%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: #fff;
  /* background-color: #fff; */
  font-size: 1.1rem;
  font-weight :bold;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

div.scrollmenu a:hover {
  background-color: #c4c4c4;
}

.scrollmenu .scrolling-content {
  display: inline-block;
  white-space: nowrap;
  /* animation: scroll 50s linear infinite; */
}

@media screen and (max-width: 600px) {
  div.scrollmenu {
    left: 60px;
    width: 75%;
    padding: 20px;
    margin-bottom: 20px;
  }

  div.scrollmenu a img {
    width: 230px;
    height: 250px;
  }

  div.scrollmenu a h6 {
    width: 40px;
    top: 50%;
    left: 15%;
    font-size: 1rem;
  }

  div.scrollmenu a h7 {
    width: 40px;
    top: 60%;
    left: 15%;
    font-size: 0.9rem;
  }

  div.scrollmenu h1 {
    margin: 10px;
    font-size: larger;
  }
}