.material-icons-outlined {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Adjust the font size as needed */
  line-height: 1;
  vertical-align: middle;
}

h4 {
  position: relative;
  left: 50px;
    color: #333;
    font-weight: 600;
    display: none;
    margin-bottom: 10px;
}

.SideBarHr {
   border: 1px solid #4c4c4c;
    margin: 10px 8px;
    width: 55%;
}

.Sidebar-container {
    /* height: 100vh;
    width: 100%; */
    /* background-image: url("images/hero.jpg"); */
    position: absolute;
    background-size: cover;
    background-position: center;
    z-index: 2;
}

.sidebar {
    position: fixed;
    /* top: 58px; */
    top: 0;
    left: 0;
    width: 55px;
    height: 100%;
    background-color: #c4c4c4;
    backdrop-filter: blur(15px);
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: width 0.3s ease;
    border-right: 0.25px solid rgb(80, 80, 80)
}

.sidebar .user-account {
    display: flex;
    align-items: center;
    padding: 40px 10px 20px 10px;
    color: #000;
}

.user-account img {
    height: 45px;
    border-radius: 50%;
}

.user-account h2 {
    font-size: 1.2rem;
    font-weight: 600;
    display: none;
    margin-left: 15px;
}

.links {
    list-style: none;
    margin-top: 20px;
    overflow-y: scroll;
    height: calc(100% - 140px);
}

.links li {
    display: flex;
    border-radius: 4px;
    align-items: center;
    transition: 0.3s ease;
}

.links span {
    padding: 12px 10px;

}
.links li a {
    color: #000;
    font-weight: 500;
    text-decoration: none;
    padding: 10px 20px;
    white-space: nowrap;
    display: none;
}

.links li:hover {
    background: #fff;
}

.logout {
    margin-top: 20px;
}

.links::-webkit-scrollbar {
    display: none;
}

.sidebar:hover {
    width: 200px;
    border: 1px black;
}

.sidebar:hover .user-account h2 {
    display: block;
}

.sidebar:hover .links li a {
    display: block;
    justify-content: flex-start;
}

.sidebar:hover h4 {
    display: block;
}

.sidebar:hover hr {
    border-color: transparent;
}

@media (max-width: 768px) {
  .Sidebar-container{
    width: 0;
    height: 0;
  }
}